streamlit
pandas
numpy
plotly
scikit-learn
xgboost
joblib

sqlalchemy

python-dotenv

bcrypt

pillow
pytesseract
pdfplumber

reportlab
openpyxl
xlsxwriter

requests

groq

python-dateutil

matplotlib

streamlit-option-menu